name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup Nim
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: stable
          yes: true
      - name: Run tests
        working-directory: .
        run: nimble test_all
